@charset "utf-8";
/* CSS Document */
header{
	font-size:2em;
	font-weight:bolder;
	color:blue;
	text-shadow: 5px 5px 5px gray;
}
hr{
	color:cyan;
	border-width:5px;
}
h2, p{
	color: #666666;
}
p{
	text-align:justify;
	line-height:20px;
}
.coffe{
	margin-top: 60px;
	float:right;
	width:320px;
	height:240px;
}
nav{
	background-color:#099;
	text-align:center;
	padding:15px;
}
a{
	color:#FF0;
	font-size:2em;
	text-decoration:none;
	margin-right:20px;
}
a:hover{
	color:red;
	font-size:1.5em;
	font-weight:700;
}
