*{
  margin: 0px;
  padding: 0px;
}
a:link {
  text-decoration: none;
}
body {
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
.header_1{
    width:100%;
    height: 103px;
    background-color: white;
  }
.header{
  background-color: white;
    width:100%;
    height: 102px;
    position:fixed;
}
.header .logo{
  width: 14%;
  float: left;
  padding-left: 165px;
}

.header .logo img{
  width: 100%;
  height: 80px;
  margin-top: 15px;
}
.header .sear{
  width: 75%;
  float: left;
  background-color: white;
}
.header .sear .region_sear {
  width: 100%;
  height: 45px;
  float: left;
  padding-top: 10px;
  background-color: white;
  
}
.header .sear .region_sear #left {
  float: left;
  width: 40%;
  position: relative;
}
.header .sear .region_sear #right {
  width: 40%;
  display: block;
  position: absolute;
  /* background-color: white; */
  /* float: right; */
  /* text-align: right; */
  margin-left: 499px;

}
.header .sear .region_sear #right div {
  display: initial;
  float: left;
  margin-left: 50px;
  margin-right: 75px;
}
.header .sear .region_sear #right a{
  color: black;
}
.header .sear .region_sear #right a:hover {
  color: #6CF;
  font-size: 1.2em;
}
.header .sear .region_sear #right img{
  width: 35px;

}
.header .sear .region_sear #right span{
  margin: 11px;
  position: absolute;
  
}
.header .sear #search{
  padding-left: 10px;
  padding-right: 280px;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 6px;
  border-radius: 20px;
  border-color: black;
  margin-left:34px;
}

#btnSearch{
  background: url(img/search.png) no-repeat;
  display: inline-block;
  padding-right: 18px;
  padding-left: 5px;
  height: 20px;
  cursor: pointer;
  border: 0;
  position: absolute;
  left: 460px;
  top: 13px;
}
input[type]:focus {
  border: 1.5px solid #6CF;
  box-shadow: 1px 1px 1px 2px rgb(150, 209, 211);
  transition: 0.4s;
}
.header .sear .menu_sear{
  width: 100%;
  height: 45px;
  float: left;
  background-color: white;
}

.header .sear .menu_sear div{
    font-family: 'Lucida Sans';
    float: left;
    border: 4px;
    border-radius: 10px;
    border-style: double;
    padding-left: 45px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-top: 5px;
    background: black;
    color: white;
}
.header .sear .menu_sear b{ 
  color: white;
}
.header .sear .menu_sear a{
  font-family:'Times New Roman', Times, serif;
  color:black;
  float: left;
}
.header .sear .menu_sear div:hover{
  border-color: #6CF;
}

.hero {
    float: left;
    width: 25%;
    height: 550px;
    border-radius: 10px;

}

.danhmuc {
    background-color: #dedddd;
    width: 200px;
    display: inline-block;
    color: #333;
    padding-right: 50px;
    border-radius: 10px 10px 0px 0px;
}

.danhmuc span{
  display: inline-block;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: 15px;
}
.danhmuc img{
  width: 25%;
  display: inline-block;
  float: left;
}
.menu {
  display: inline-block;
  text-align: center;
}
.menu ul {
  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
  color: white;
  background-color: white;
}
.menu li {
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
  font-size: 0.75em;

}
.menu li a {
  text-decoration: none;
  color: black;
  display: block;
}
#lilast{
  padding: 4px;
  text-align: left;
  background-color:#dedddd;
  padding-left: 10px;
  font-size: 1.0em;
}
#lilast:hover{
  border: 3px;
  font-size: 1.2em;
}
#lilast a:hover{
color: red;

}

.menu .sub-menu {
  position: absolute;
  left: 315px;
  top: 151px;
  display: none;
 }
 .menu .sub-menu:nth-child(2)
{
  background-color: white;
}
 .menu .sub-menu:nth-child(3)
{
  left: 560px;
}
.menu .sub-menu:nth-child(4)
{
  left: 810px;

}

 .menu li:hover .sub-menu {
  display: block;

 }

.content {
    height: 290px;
    width: 46%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 8px;
}
.sidebar {
    float: left;
    background-color: #a0c263;
  }
.banner{
  height: 550px;
}
.banner .extra {
    float: left;
    width: 23%;
    min-height: 140px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .banner .extra img{
    width: 100%;
  }
.banner_1 .extra:nth-child(1)
{
}
.banner_1 .extra:nth-child(2)
{

}
.banner_1 .extra:nth-child(3)
{


}
.banner_1{
    float: left;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}
.banner_1 .extra {
  
  width: 23%;
  min-height: 165px;
  margin-left: 15px;
}
.banner_1 .extra img{
  width: 100%;
}
div .banner_1{
  display: flex;
  flex-direction: row;
}
.related-images ,.slideProduct {
    float: left;
    height: 445px;
    width: 100%;
    background-color: white;
    margin-top: 20px;
  }
.related-images h1{
    text-align: left;
    padding-left: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
  }

  
.product{
  float: left;
    height: 325px;
    width: 20%;
    background-color: white;
    margin-left: 4%;
    border-style: ridge;
    border-color: grey;
    border-width:1px; 
    margin-top: 20px;
  
}
.ten-sp{

}
.gia-sp{
  color:red;
  font-size: 1.3em;
  font-style: oblique;
  float: left;
  margin:10px;
}
.product:hover{
  border-color: #DA70D6;
  border-style: outset;
  border-width: 2px;
}
.product img{
  margin: 10px;
}
.xemthem{
  margin-top: 20px;
  float: right;
  margin-right: 50px;
  
}
.xemthem a{
  color: black;
}
.xemthem a:hover{
  color: #6CF;
}
  /*slide product deal*/
.related-images .slider{
  width: 100%px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.related-images .slides{
  width: 500%;
  height: 445px;
  display: flex;
}
.related-images .slides input{
  display: none;
}
.related-images .slide {
  width: 20%;
  transition: 1s;
}
.related-images .slide img{
  
  
}
/*manua;*/
.related-images .nav-manual{
  position: absolute;
  width: 100%;
  margin-top: 380px;
  display: flex;
  justify-content: center;
}
.related-images .manua-btn{
  border:2px solid black;
  padding :5px;
  cursor: pointer;
  transition: 2s;
  color: black;
}
.related-images .manua-btn:not(:last-child){
  margin-right: 20px;
}
.related-images .manua-btn:hover{
  background: saddlebrown;
}
.related-images #radio1:checked ~ .one{
  margin-left: 0;
}
.related-images #radio2:checked ~ .one{
  margin-left: -20%;
}
.related-images #radio3:checked ~ .one{
  margin-left: -40%;
}
.related-images #radio4:checked ~ .one{
  margin-left: -60%;
}
/*end*/

.footer_1 {
  float: left;
  width: 100%;
  height: 50px;
  
}  
.footer {
  float: left;
  width: 100%;
  height: 340px;
  background-image: url(img/footer_1.jpg);
  background-repeat: no-repeat;
  background-size:100%;
}  
.col-sm-3{
  width: 25%;
  float: left;
}
.info{
    height: auto;
	}
.info ul{
	  padding: 0;
    margin: 0;
    list-style: none;
}
.info li{
  margin: 10px;
  list-style: none;
}
.info ul li a{
	text-decoration:none;
	color: grey;
	}
.info ul li a:link,.info ul li a:visited{
	color: grey;
	}
.info ul li a:hover{
	color:#6CF;
	}
.social{
	width:34px;
	height:34px;
	display:inline-block;
	vertical-align: middle;
}	
#facebook{
	background:url(img/s-icons.png);
    background-position: 0 0;
    margin-left: 21px;
	}
#Twitter{
	background:url(img/s-icons.png);
    background-position: -34px 0;
	}	
	
#google{
	background:url(img/s-icons.png);
    background-position: -68px 0;
    margin-left: 10px;
  }