*{
    margin: 0px;
    padding: 0px;
  }
  a:link {
    text-decoration: none;
  }
  body {
      text-align: center;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
  .header_1{
      width:100%;
      height: 103px;
      background-color: white;
    }
  .header{
    background-color: white;
      width:100%;
      height: 102px;
      position:fixed;
  }
  .header .logo{
    width: 14%;
    float: left;
    padding-left: 165px;
  }
  
  .header .logo img{
    width: 100%;
    height: 80px;
    margin-top: 15px;
  }
  .header .sear{
    width: 75%;
    float: left;
    background-color: white;
  }
  .header .sear .region_sear {
    width: 100%;
    height: 45px;
    float: left;
    padding-top: 10px;
    background-color: white;
    
  }
  .header .sear .region_sear #left {
    float: left;
    width: 40%;
    position: relative;
  }
  .header .sear .region_sear #right {
    width: 40%;
    display: block;
    position: absolute;
    /* background-color: white; */
    /* float: right; */
    /* text-align: right; */
    margin-left: 499px;
  
  }
  .header .sear .region_sear #right div {
    display: initial;
    float: left;
    margin-left: 50px;
    margin-right: 75px;
  }
  .header .sear .region_sear #right a{
    color: black;
  }
  .header .sear .region_sear #right a:hover {
    color: #6CF;
    font-size: 1.2em;
  }
  .header .sear .region_sear #right img{
    width: 35px;
  
  }
  .header .sear .region_sear #right span{
    margin: 11px;
    position: absolute;
    
  }
  .header .sear #search{
    padding-left: 10px;
    padding-right: 280px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: 6px;
    border-radius: 20px;
    border-color: black;
    margin-left:34px;
  }
  
  #btnSearch{
    background: url(img/search.png) no-repeat;
    display: inline-block;
    padding-right: 18px;
    padding-left: 5px;
    height: 20px;
    cursor: pointer;
    border: 0;
    position: absolute;
    left: 460px;
    top: 13px;
  }
  .header .sear .menu_sear{
    width: 100%;
    height: 45px;
    float: left;
    background-color: white;
  }
  
  .header .sear .menu_sear div{
      font-family: 'Lucida Sans';
      float: left;
      border: 4px;
      border-radius: 10px;
      border-style: double;
      padding-left: 45px;
      padding-right: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 15px;
      margin-top: 5px;
      background: black;
      color: white;
  }
  .header .sear .menu_sear b{ 
    color: white;
  }
  .header .sear .menu_sear a{
    font-family:'Times New Roman', Times, serif;
    color:black;
    float: left;
  }
  .header .sear .menu_sear div:hover{
    border-color: #6CF;
  }
.main{
  float: left;
  width: 100%;
  height: 500px;
  
}

main h1{
      text-align: center;
      padding-left: 10px;
      color: white;
      background-color: black;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}
.fomnngoai{
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}
.formtrong{
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.input-box1{
    margin-bottom: 10px;
}
.input-box2{
    margin-bottom: 10px;
}
.input-box3{
    margin-bottom: 10px;
}
.input-box4{
    margin-bottom: 10px;
}
.input-box1 input{
    padding: 7.5px 15px;
    width: 85%;
    border: 1px solid #cccccc;
    outline: none;
    background-image: url("icon/ho.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.input-box2 input{
    padding: 7.5px 15px;
    width: 85%;
    border: 1px solid #cccccc;
    outline: none;
    background-image: url("icon/email.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.input-box3 input{
    padding: 7.5px 15px;
    width: 85%;
    border: 1px solid #cccccc;
    outline: none;
    background-image: url("icon/sdt.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.input-box4 input{
    padding: 7.5px 15px;
    width: 85%;
    border: 1px solid #cccccc;
    outline: none;
    background-image: url("icon/pass.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
input[type]:focus {
    border: 1.5px solid cadetblue;
    box-shadow: 1px 1px 1px 2px rgb(150, 209, 211);
    transition: 0.4s;
  }
.dangki{
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 10px;
    color: black !important;
    border-radius: 7px;
    background: #e0e9e9;
    transition: 0.4s; 
}
.dangki:hover {
    background: #5c5858;
  }
.quayve{
    cursor: pointer;
    font-size: 14px;
    padding: 7px 10px;
    color: black !important;
    border-radius: 7px;
    background: #e0e9e9;
    transition: 0.4s; 
}
.quayve:hover {
    background: #5c5858;
  }
  .footer {
    float: left;
    width: 100%;
    height: 340px;
    background-image: url(img/footer_1.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    display: inline-block;
  }  
  .col-sm-3{
    width: 25%;
    float: left;
  }
  .info{
      height: auto;
      }
  .info ul{
        padding: 0;
      margin: 0;
      list-style: none;
  }
  .info li{
    margin: 10px;
    list-style: none;
  }
  .info ul li a{
      text-decoration:none;
      color: grey;
      }
  .info ul li a:link,.info ul li a:visited{
      color: grey;
      }
  .info ul li a:hover{
      color:#6CF;
      }
  .social{
      width:34px;
      height:34px;
      display:inline-block;
      vertical-align: middle;
  }	
  #facebook{
      background:url(img/s-icons.png);
      background-position: 0 0;
      margin-left: 21px;
      }
  #Twitter{
      background:url(img/s-icons.png);
      background-position: -34px 0;
      }	
      
  #google{
      background:url(img/s-icons.png);
      background-position: -68px 0;
      margin-left: 10px;
    }