/*slide product*/
.slider{
    width: 100%px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 445px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide {
    width: 20%;
    transition: 1s;
  }
  .slide img{
    
    
  }
  /*manua;*/
  .nav-manual{
    position: absolute;
    width: 100%;
    margin-top: 380px;
    display: flex;
    justify-content: center;
  }
  .manua-btn{
    border:2px solid black;
    padding :5px;
    cursor: pointer;
    transition: 2s;
    color: black;
  }
  .manua-btn:not(:last-child){
    margin-right: 20px;
  }
  .manua-btn:hover{
    background: saddlebrown;
  }
  #radio1:checked ~ .one{
    margin-left: 0;
  }
  #radio2:checked ~ .one{
    margin-left: -20%;
  }
  #radio3:checked ~ .one{
    margin-left: -40%;
  }
  #radio4:checked ~ .one{
    margin-left: -60%;
  }
  /*end slide product*/